// Colors

/// Primary

$lightRed: hsl(0, 100%, 67%);
$orangeyYellow: hsl(39, 100%, 56%);
$greenTeal: hsl(166, 100%, 37%);
$cobaltBlue: hsl(234, 85%, 45%);

// with transparency

$lightRedTransparent: hsl(0, 100%, 67%, 0.07);
$orangeyYellowTransparent: hsl(39, 100%, 56%, 0.07);
$greenTealTransparent: hsl(166, 100%, 37%, 0.07);
$cobaltBlueTransparent: hsl(234, 85%, 45%, 0.07);

// Gradients

$lightSlateBlue: hsl(252, 100%, 67%); //background
$lightRoyalBlue: hsl(241, 81%, 54%); //background

$violetBlue: hsla(256, 72%, 46%, 1); //circle
$persianBlue: hsla(241, 72%, 46%, 0); //circle

/// Neutral

$white: hsl(0, 0%, 100%);
$paleBlue: hsl(221, 100%, 96%);
$lightLavender: hsl(241, 100%, 89%);
$darkGrayBlue: hsl(224, 30%, 27%);

// with transparency
$lightLavenderTransparent: hsla(241, 100%, 89%, 0.9);
$lightLavenderExtraTransparent: hsla(241, 100%, 89%, 0.5);
$darkGrayBlueTransparent: hsla(224, 30%, 27%, 0.5);

// Font

$hankenGrotesk: 'Hanken Grotesk', sans-serif;
$medium: 500;
$bold: 700;
$extraBold: 800;

@keyframes appearX{
    from{ transform: rotateX(90deg); }
    to{ transform: rotateX(0deg); }
}

@keyframes appearY{
    from{ transform: rotateY(90deg); }
    to{ transform: rotateY(0deg); }
}


body{
    font-family: $hankenGrotesk;
    font-size: 18px;
}

header{
    height: 356px;
    width: 100%;
    background-image: linear-gradient(to bottom, $lightSlateBlue, $lightRoyalBlue);
    border-radius: 0 0 30px 30px;
    padding: 24px 55px 40px 55px;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    #top-span{
        color: $lightLavender;
        font-weight: $bold;
        font-size: 18px;
    }

    #score{
        height: 140px;
        width: 140px;
        border-radius: 50%;
        background-image: linear-gradient(to bottom, $violetBlue, $persianBlue);

        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-top: 10px;

        animation: appearY 0.5s forwards linear;

        h1{
            color: $white;
            font-size: 56px;
            font-weight: $extraBold;
            transform: translateY(4px);
        }

        span{
            color: $lightLavenderExtraTransparent;
            font-size: 15px;
            font-weight: $bold;
            transform: translateY(-4px);
        }
    }

    h2{
        color: $white;
        font-weight: $bold;
        font-size: 24px;
        transform: translateY(10px);
    }

    p{
        font-size: 15.9px;
        text-align: center;
        color: $lightLavenderTransparent;
        font-weight: $bold;
        line-height: 21px;
        transform: translateY(3px);
    }
}

main{
    padding: 25px 30px;

    #summary-title{
        color: $darkGrayBlue;
        font-weight: $bold;
        font-size: 18px;
        margin-bottom: 23px;
    }

    #summary{
        display: flex;
        flex-direction: column;
        gap: 16px;

        .summaryItem{
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 56px;
            padding: 0 16px 0 17px;
            border-radius: 12px;
            animation: appearX 0.5s forwards linear;
    
            .itemTitle{
                display: flex;
                gap: 11px;

                span{
                    font-size: 15.6px;
                    font-weight: $bold;
                }
            }

            .score{
                display: flex;
                font-size: 15.6px;
                font-weight: $bold;
                gap: 7px;
                color: $darkGrayBlueTransparent;

                span:first-child{
                    color: $darkGrayBlue;
                }
            }
    
            #reaction{
                color: $lightRed;
            }
    
            #memory{
                color: $orangeyYellow;
            }
    
            #verbal{
                color: $greenTeal;
            }
    
            #visual{
                color: $cobaltBlue;
            }
        }
    
        #reaction-container{
            background-color: $lightRedTransparent;
        }
    
        #memory-container{
            background-color: $orangeyYellowTransparent;
        }
    
        #verbal-container{
            background-color: $greenTealTransparent;
        }
    
        #visual-container{
            background-color: $cobaltBlueTransparent;
        }
    }
    
    button{
        width: 100%;
        margin-top: 23px;
        height: 56px;
        border-radius: 30px;
        color: $white;
        font-weight: $bold;
        background-color: $darkGrayBlue !important;
    }
}

footer{ 
    font-size: 11px; 
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: $darkGrayBlue;
    color: $white;

    a{
        font-weight: $extraBold;
    }
}

@media only screen and (min-width: 768px) {
    body{
        position: relative;
        width: 100vw;
        height: 100vh;

        #container{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);

            display: flex;
            width: 737px;
            height: 512px;

            box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
            border-radius: 30px;

            header{
                height: 100%;
                width: 368px;
                border-radius: 30px;
                padding-top: 36px;

                #top-span{
                    font-size: 24px;
                }

                #score{
                    height: 200px;
                    width: 200px;
            
                    margin-top: -14px;
            
                    h1{
                        font-size: 72px;
                        transform: translateY(3px);
                    }
            
                    span{
                        font-size: 18.6px;
                        transform: translateY(-10px);
                    }
                }

                h2{
                    font-size: 32px;
                    transform: translateY(-12px);
                }
            
                p{
                    font-size: 18px;
                    font-weight: $medium;
                    line-height: 21px;
                    transform: translateY(-16px);
                }
            }

            main{
                padding: 35px 40px;

                #summary-title{
                    font-size: 24px;
                    margin-bottom: 25px;
                }

                #summary{
                    gap: 16px;

                    .summaryItem{
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        height: 56px;
                        width: 288px;
                        padding: 0 16px 0 17px;
                        border-radius: 12px;
                
                        .itemTitle{
                            span{
                                font-size: 18px;
                            }
                        }

                        .score{
                            font-size: 18px;
                            gap: 5px;

                            span:first-child{
                                transform: translateX(-4px);
                            }
                        }
                    }
                }
                
                button{
                    margin-top: 42px;

                    &:hover{
                        background-image: linear-gradient(to bottom, $lightSlateBlue, $lightRoyalBlue);
                    }
                }
            }
        }
    }


}